<div class="row-fluid">
	<div class="span8 offset2">
		<!-- <div>
			<div class="span2 offset2" id="fb">
				<%# image_tag 'fb.png', length:70, width:50 %>
			</div>
			<div class="span2 offset1" id="tw">
				<%# image_tag('tw.jpg', length:50, width:50) %>
			</div>
			<div class="span2 offset1" id="li">
				<%# image_tag('li.png', length:50, width:50) %>
			</div>
		</div> -->
		<center>
		<div>
			<%= image_tag('social_crm.png', class:'img-polaroid')%>
		</div>
		<br><br><br>
		
		<%# link_to "Test Area", :controller => 'main',:action => 'xtra' %><br>
		</center>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
        <div class="well">
    		<h2 class="muted">Plugins</h2>
    		<p><span class="label">Features</span></p>
    		<ul>
    			<li>Smart Layer</li>
    			<li>Readymade and easy to use plugins for:</li>
    				<ol>
    					<li>Facebook</li>
    					<li>Twitter</li>
    					<li>LinkedIn</li>
    				</ol>
    			<li>Select style for the choice of your plugins</li>
    			<li>Get them in a single click !</li>
    		</ul>                  		
    		<hr><hr><hr><hr>
    	</div>
    </div>
    <div class="span4">
    	<div class="well">
    		<h2 class="text-warning">Social Wall</h2>
    		<p><span class="label label-success">Features</span></p>
    		<ul>
    			<li>Integration of Socal Networking sites like-</li>
    				<ol>
    					<li>Facebook</li>
    					<li>Twitter</li>
    					<li>LinkedIn</li>
    				</ol>
      			<li>Just signin once and access your accounts</li>
    			<li>View profiles</li>
    			<li>Update status or tweet</li>
    			<li>Keep a track of daily activites of your friends and networks</li>
    			<li>Manage your connections and follow groups or people</li>
    			<li>Like,Comment and Share posts</li>
    		</ul>
    	</div>
    </div>
    <div class="span4">
    	<div class="well">
    		<h2 class="text-info">Analytics</h2>
    		<p><span class="label label-info">Features</span></p>
    		<ul>
    			<li>Sentimental Analysis of posts for websites-</li>
   					<ol>
    					<li>Facebook</li>
    					<li>Twitter</li>
    				</ol>
    			<li>Retrieve posts using keyword serach about a particular topic</li>	
    			<li>Retrieve Thousands of posts in one click</li>
    			<li>Get the appropraite sentiment and its probability for the posts</li>
    		</ul>          
    		<hr><hr><hr>
    	</div>
    </div>
</div>

<br><br><br>

<div class="row-fluid">
<div class="span10 offset1">
	<div class="span1 offset1">
		<%= image_tag('rails.png', length:80, width:80) %>
	</div>
	<div class="span1 offset1">
		<%= image_tag 'html.png', length:80, width:80 %>
	</div>
	<div class="span1 offset1">
		<%= image_tag 'css.png', length:80, width:80 %>
	</div>
	<div class="span1 offset1">
		<%= image_tag 'js.png', length:80, width:80 %>
	</div>
	<div class="span1 offset1">
		<%= image_tag('jquery.png', length:80, width:80) %>
	</div>
</div>
</div>