<legend>Edit <%= resource_name.to_s.humanize %></legend>

<div class="row">
  <div class="span8 offset2">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal'}) do |f| %>

        
        <%= devise_error_messages! %>


        <div class="control-group"><%= f.label :user_name,class: 'control-label' %>
        <%= f.text_field :user_name,class: 'controls', :autofocus => true %></div><br />

        <div class="control-group"><%= f.label :first_name,class: 'control-label' %>
        <%= f.text_field :first_name,class: 'controls' %></div><br />

        <div class="control-group"><%= f.label :last_name,class: 'control-label' %>
        <%= f.text_field :last_name,class: 'controls' %></div><br />

        <div class="control-group"><%= f.label :email,class: 'control-label' %>
        <%= f.email_field :email,class: 'controls' %></div><br />

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div><br />
        <% end %>

         <div class="control-group"><%= f.label :current_password,class: 'control-label' %>
        <%= f.password_field :current_password,:placeholder =>'mandatory',class: 'controls' %></div><br />

        <div class="control-group"><%= f.label 'New Password',class: 'control-label' %>
        <%= f.password_field :password,class: 'controls',:placeholder =>'leave blank if no change', :autocomplete => "off" %></div><br />

        <div class="control-group"><%= f.label 'New Password Confirmation',class: 'control-label' %>
        <%= f.password_field :password_confirmation,:placeholder =>'leave blank if no change',class: 'controls' %></div><br />

        <div class="span4 offset4"><%= f.submit "Update", :class => 'btn btn-large btn-success' %></div>
      <% end %>
  </div>

</div>

<br></br><br><br>



<div class-"control-group">
<%= button_to "Delete account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %>
</div><br />

<%# link_to "Back", :back %>
