<% if @li %>

		


		<!-- ----------------------------------- Group Profile----------------------------------------- -->

		<h5> Group Profile</h5>

		<%   li_prof = @li.group_profile(:id => @group_id,:fields => [:id,:name,:short_description,:description,:relation_to_viewer,:counts_by_category,:is_open_to_non_members,:category,:website_url,:locale,:location,:allow_member_invites,:site_group_url,:large_logo_url]) %>
		<% li_prof = li_prof.to_hash %>

		<div class="row-fluid">
			<div class="offset2">
				<%= image_tag(li_prof['large_logo_url'],:class => 'img-polaroid')%><br><br>
			</div>
		</div>

	<div class="row-fluid">
		<div class="span10">
			<table class="table">
				<% i =0 %>
			  <tr>
			    <th class="span2" >Sr.No.</th>
			    <th class="span3" >Name</th>
			    <th class="span7" >Value</th>
			  </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Name</td>
			      <td><%= li_prof['name'] %> </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Category</td>
			      <td><%= li_prof['category']['code'] %> </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Locale</td>
			      <td><%= li_prof['locale'] %> </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Short Description</td>
			      <td><%= li_prof['short_description'] %> </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Description</td>
			      <td><%= li_prof['description'] %> </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Group URL</td>
			      <td><%= link_to truncate(li_prof['site_group_url'],:length => 40),li_prof['site_group_url'] %> </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Website URL</td>
			      <td><%= link_to truncate(li_prof['website_url'],:length => 40),li_prof['website_url'] %> </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Available Actions</td>
			      <td>
			      	<% li_prof['relation_to_viewer']['available_actions']['all'].each do |f| %> 
			      		<%= f['code'] %>,
			      	<% end %>
			      </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Membership State</td>
			      <td><%= li_prof['relation_to_viewer']['membership_state']['code'] %> </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Counts by Category</td>
			      <td>
			      	<% li_prof['counts_by_category']['all'].each do |f| %> 
			      		<%= f['category']['code'] %> - <%= f['count'] %>, 
			      	<% end %>
			      </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Open to Non-Members ?</td>
			      <td><%= li_prof['is_open_to_non_members'] %> </td>
			    </tr>
			    <tr>
			      <td><%= i+=1 %></td>
			      <td>Member Invites Allowed ?</td>
			      <td><%= li_prof['allow_member_invites'] %> </td>
			    </tr>

			</table>
		</div>	
	</div>

<% end %>
